extends layout

block content
  h1= title
  h3 #{title}, des recettes faciles et rapides pour préparer un repas à l'aide d'ingrédients sélectionner.

  p Explication
  p Doc d'installation

  form(action='/', method='POST')
    input(type="search", name='recherche')
    input(type='submit') 
    ul  
      each recipe in recipes
        li
          ul
            each prop, i in recipe
              li #{i} => #{prop}
