extends layout

block content
  h1= title
  h3 #{title}, des recettes faciles et rapides pour préparer un repas à l'aide d'ingrédients sélectionner.

  p Explication
  p Doc d'installation

  form(action='/', method='POST')
    h2 Vegetables
    label(for="cabbage")
      img(src="images/legumes/cabbage.jpeg")
      input(id="cabbage", type="checkbox", value="cabbage", name="recherche")
    label(for="carrot")
      img(src="images/legumes/carrot.jpeg")
      input(id="carrot", type="checkbox", value="carrot", name="recherche")
    label(for="garlic")
      img(src="images/legumes/garlic.jpeg")
      input(id="garlic", type="checkbox", value="garlic", name="recherche")
    label(for="lettuce")
      img(src="images/legumes/lettuce.jpeg")
      input(id="lettuce", type="checkbox", value="lettuce", name="recherche")
    label(for="onion")
      img(src="images/legumes/onion.jpeg")
      input(id="onion", type="checkbox", value="onion", name="recherche")
    label(for="peas")
      img(src="images/legumes/peas.jpeg")
      input(id="peas", type="checkbox", value="peas", name="recherche")
    label(for="potato")
      img(src="images/legumes/potato.jpeg")
      input(id="potato", type="checkbox", value="potato", name="recherche")
    label(for="zucchini")
      img(src="images/legumes/zucchini.jpeg")
      input(id="zucchini", type="checkbox", value="zucchini", name="recherche")
                    
    h2 Fruits
    label(for="apple")
      img(src="images/fruits/apple.jpeg")
      input(id="apple", type="checkbox", value="apple", name="recherche")
    label(for="banana")
      img(src="images/fruits/banana.jpeg")
      input(id="banana", type="checkbox", value="banana", name="recherche")    
    label(for="cherry")
      img(src="images/fruits/cherry.jpeg")
      input(id="cherry", type="checkbox", value="cherry", name="recherche")
    label(for="orange")
      img(src="images/fruits/orange.jpeg")
      input(id="orange", type="checkbox", value="orange", name="recherche")       
    label(for="peach")
      img(src="images/fruits/peach.jpeg")
      input(id="peach", type="checkbox", value="peach", name="recherche")        
     label(for="pear")
      img(src="images/fruits/pear.jpeg")
      input(id="pear", type="checkbox", value="pear", name="recherche")         
     label(for="pepper")
      img(src=" images/fruits/pepper.jpeg")
      input(id="pepper", type="checkbox", value="pepper", name="recherche")        
     label(for="strawberry")
      img(src="images/fruits/strawberry.jpeg")
      input(id="strawberry", type="checkbox", value="strawberry", name="recherche")         
    label(for="tomato")
      img(src="images/fruits/tomato.jpeg")
      input(id="tomato", type="checkbox", value="tomato", name="recherche")
    h2 Fish
    h2 Meat
    label(for="bacon")
      img(src="images/viande/bacon.jpeg" )
      input(id="bacon", type="checkbox", value="bacon", name="recherche")
    label(for="beef")
      img(src="images/viande/beef.jpeg" )
      input(id="beef", type="checkbox", value="beef", name="recherche")
    label(for="cervelat")
      img(src="images/viande/cervelat.jpeg" )
      input(id="cervelat", type="checkbox", value="cervelat", name="recherche")
    label(for="chicken")
      img(src="images/viande/chicken.jpeg" )
      input(id="chicken", type="checkbox", value="chicken", name="recherche")
    label(for="duck")
      img(src="images/viande/duck.jpeg" )
      input(id="duck", type="checkbox", value="duck", name="recherche")
    label(for="ham")
      img(src="images/viande/ham.jpeg" )
      input(id="ham", type="checkbox", value="ham", name="recherche")
    label(for="lamb")
      img(src="images/viande/lamb.jpeg" )
      input(id="lamb", type="checkbox", value="lamb", name="recherche")
    label(for="mutton")
      img(src="images/viande/mutton.jpeg" )
      input(id="mutton", type="checkbox", value="mutton", name="recherche")
    label(for="pork")
      img(src="images/viande/pork.jpeg" )
      input(id="pork", type="checkbox", value="pork", name="recherche")
    label(for="roastBeef")
      img(src="images/viande/roastBeef.jpeg" )
      input(id="roastBeef", type="checkbox", value="roast Beef", name="recherche")
    label(for="turkey")
      img(src="images/viande/turkey.jpeg" )
      input(id="turkey", type="checkbox", value="turkey", name="recherche")

    
    input(type='submit')
  
  p=recipes
    
